
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Main</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<style>
		body {
			font-family: system-ui;
		}
	</style>
</head>
<body>
		<div class="flex flex-col bg-white">
		<div class="self-stretch bg-[#FAF9F9]">
			<div class="flex items-start self-stretch">
				<div class="flex flex-col shrink-0 items-center bg-[#000C1F] pt-6 px-3.5">
					<div class="flex flex-col items-center mb-[61px] gap-7">
						<img
							src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/nlet0ns7_expires_30_days.png" 
							class="w-[89px] h-[125px] object-fill"
						/>
						<div class="flex items-center gap-[9px]">
							<div class="flex shrink-0 items-center">
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/72bkruw4_expires_30_days.png" 
									class="w-4 h-4 mr-[9px] object-fill"
								/>
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/hhydwxc2_expires_30_days.png" 
									class="w-2.5 h-4 mr-2 object-fill"
								/>
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/no0qx5fq_expires_30_days.png" 
									class="w-3 h-4 mr-[7px] object-fill"
								/>
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/s8zdszjh_expires_30_days.png" 
									class="w-0.5 h-4 mr-[7px] object-fill"
								/>
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/tjmop0l6_expires_30_days.png" 
									class="w-4 h-4 mr-1 object-fill"
								/>
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/vqn9bg56_expires_30_days.png" 
									class="w-4 h-4 mr-[5px] object-fill"
								/>
								<span class="text-[#E6E9EE] text-2xl" >
									S
								</span>
							</div>
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/jowbz2ic_expires_30_days.png" 
								class="w-[27px] h-[15px] object-fill"
							/>
						</div>
					</div>
					<div class="flex flex-col items-center mb-[545px] gap-[25px]">
						<div class="flex items-center bg-[#012158] py-3 rounded-lg">
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/bz5gh3eu_expires_30_days.png" 
								class="w-6 h-6 ml-4 mr-3.5 rounded-lg object-fill"
							/>
							<span class="text-[#E6E9EE] text-[15px] font-bold mr-[90px]" >
								Dashboard
							</span>
						</div>
						<div class="flex items-center py-3 rounded-lg">
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/9pk97k4g_expires_30_days.png" 
								class="w-6 h-6 ml-4 mr-3 rounded-lg object-fill"
							/>
							<span class="text-[#E6E9EE] text-[15px] font-bold mr-32" >
								Mapa
							</span>
						</div>
						<div class="flex items-center py-3 rounded-lg">
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/jj740i84_expires_30_days.png" 
								class="w-6 h-6 mx-4 rounded-lg object-fill"
							/>
							<span class="text-[#E6E9EE] text-[15px] font-bold mr-[107px]" >
								Noticías
							</span>
						</div>
						<div class="flex items-center py-3 rounded-lg">
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/363ndy2r_expires_30_days.png" 
								class="w-6 h-6 ml-4 mr-3.5 rounded-lg object-fill"
							/>
							<span class="text-[#E6E9EE] text-[15px] font-bold mr-[94px]" >
								Sobre Nós
							</span>
						</div>
					</div>
				</div>
				<div class="flex flex-1 flex-col mt-11">
					<div class="flex items-center self-stretch mb-7 ml-10 mr-[67px]">
						<div class="flex flex-col shrink-0 items-start gap-[23px]">
							<span class="text-[#000B1B] text-2xl font-bold mr-[138px]" >
								Dashboard
							</span>
							<span class="text-[#8D94A0] text-[13px]" >
								Visão geral do monitoramento de notícias
							</span>
						</div>
						<div class="flex-1 self-stretch">
						</div>
						<button class="flex shrink-0 items-center bg-white text-left py-[5px] px-5 mr-[41px] rounded-[10px] border-0"
							onclick="alert('Pressed!')"}>
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/2bsn0nzv_expires_30_days.png" 
								class="w-6 h-6 mr-1.5 object-fill"
							/>
							<span class="text-[#191B25] text-[13px] mr-[26px]" >
								01/05/2024 - 31/05/2024
							</span>
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/w08z8ijl_expires_30_days.png" 
								class="w-[1px] h-[11px] object-fill"
							/>
						</button>
						<img
							src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/jlimmqca_expires_30_days.png" 
							class="w-3.5 h-4 mr-[37px] object-fill"
						/>
						<div class="flex shrink-0 items-center">
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/rzq8zo1z_expires_30_days.png" 
								class="w-10 h-10 mr-[13px] object-fill"
							/>
							<div class="flex flex-col shrink-0 items-center mr-[30px] gap-[9px]">
								<div class="flex flex-col items-center">
									<span class="text-[#191B25] text-[13px]" >
										Usuário
									</span>
								</div>
								<div class="flex flex-col items-center">
									<span class="text-[#A2A5A9] text-[13px]" >
										Analista
									</span>
								</div>
							</div>
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/abrt4fr5_expires_30_days.png" 
								class="w-[7px] h-1 object-fill"
							/>
						</div>
					</div>
					<img
						src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/uu1xtqja_expires_30_days.png" 
						class="self-stretch h-[1px] mb-[38px] object-fill"
					/>
					<div class="flex flex-col items-center self-stretch mb-11">
						<div class="flex items-center gap-[50px]">
							<div class="flex shrink-0 items-start bg-white px-0.5 gap-3 rounded-lg border border-solid border-[#B0BACB]">
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/gk36giyc_expires_30_days.png" 
									class="w-[76px] h-24 rounded-lg object-fill"
								/>
								<div class="flex flex-col shrink-0 items-start pt-4 pr-[35px]">
									<span class="text-[#000B1B] text-[13px] font-bold mb-[17px]" >
										Total de Notícias
									</span>
									<span class="text-[#000C1F] text-[32px] font-bold mb-[17px] ml-[1px]" >
										0.000
									</span>
									<span class="text-[#1B5FD2] text-[10px] font-bold mb-[27px]" >
										00,00% vs periodo anterior
									</span>
								</div>
							</div>
							<div class="flex shrink-0 items-start bg-white px-0.5 gap-3 rounded-lg border border-solid border-[#B0BACB]">
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/zmjpbkmf_expires_30_days.png" 
									class="w-[76px] h-24 rounded-lg object-fill"
								/>
								<div class="flex flex-col shrink-0 items-start pt-4 pr-[35px]">
									<span class="text-[#000B1B] text-[13px] font-bold mb-[17px]" >
										Média por dia
									</span>
									<span class="text-[#000C1F] text-[32px] font-bold mb-[17px] ml-[1px]" >
										0.000
									</span>
									<span class="text-[#1B5FD2] text-[10px] font-bold mb-[27px]" >
										00,00% vs periodo anterior
									</span>
								</div>
							</div>
							<div class="flex shrink-0 items-start bg-white px-0.5 gap-3 rounded-lg border border-solid border-[#B0BACB]">
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/bopfisgd_expires_30_days.png" 
									class="w-[76px] h-24 rounded-lg object-fill"
								/>
								<div class="flex flex-col shrink-0 items-start pt-4 pr-11">
									<span class="text-[#000B1B] text-[13px] font-bold mb-4" >
										Comparação
									</span>
									<span class="text-[#000C1F] text-[32px] font-bold w-[114px] mb-[13px] ml-[1px]" >
										00,00%
									</span>
									<span class="text-[#8D94A0] text-[10px] font-bold mb-[27px]" >
										vs Semana anterior
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="flex items-center self-stretch mb-10 mx-10 gap-6">
						<div class="flex flex-1 flex-col items-start bg-white pt-[5px] rounded-[10px]">
							<div class="flex items-center mb-10 ml-6">
								<span class="text-[#000B1B] text-xs font-bold mr-[89px]" >
									Evolução temporal das publicações
								</span>
								<button class="flex flex-col shrink-0 items-start bg-[#402664] text-left py-0.5 px-2.5 mr-1 rounded-[10px] border-0"
									onclick="alert('Pressed!')"}>
									<span class="text-[#000B1B] text-xs font-bold" >
										Dia
									</span>
								</button>
								<button class="flex flex-col shrink-0 items-start bg-white text-left py-0.5 px-2.5 mr-1.5 rounded-[5px] border-0"
									onclick="alert('Pressed!')"}>
									<span class="text-[#586477] text-xs font-bold" >
										Semanal
									</span>
								</button>
								<button class="flex flex-col shrink-0 items-start bg-white text-left py-0.5 px-[7px] rounded-[5px] border-0"
									onclick="alert('Pressed!')"}>
									<span class="text-[#586477] text-xs font-bold" >
										Mês
									</span>
								</button>
							</div>
							<div class="flex items-start self-stretch mb-[37px] ml-[3px] mr-[21px] gap-[23px]">
								<div class="flex flex-col shrink-0 items-center mt-[11px]">
									<span class="text-[#636B7A] text-[10px] w-[17px] mb-[38px]" >
										100
									</span>
									<span class="text-[#636B7A] text-[10px] w-3 mb-9" >
										80
									</span>
									<span class="text-[#636B7A] text-[10px] w-3 mb-[38px]" >
										60
									</span>
									<span class="text-[#636B7A] text-[10px] w-3 mb-[38px]" >
										40
									</span>
									<span class="text-[#636B7A] text-[10px] w-3" >
										20
									</span>
								</div>
								<div class="flex flex-1 flex-col items-start pr-0.5">
									<div class="flex flex-col items-start self-stretch bg-[url('https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/pv22dhaw_expires_30_days.png')] bg-[length:100%_100%] py-[5px] ml-0.5 rounded-[10px]">
										<div class="flex flex-col items-center self-stretch mb-3.5">
											<button class="flex flex-col items-center bg-[#402664] text-left py-3 px-1.5 gap-2 rounded-[10px] border-0"
												onclick="alert('Pressed!')"}>
												<span class="text-white text-xs" >
													15/05/2024
												</span>
												<span class="text-white text-xs" >
													56 notícias
												</span>
											</button>
										</div>
										<div class="flex flex-col items-center self-stretch mb-0.5">
											<div class="flex flex-col items-center">
												<img
													src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/jwvun6hn_expires_30_days.png" 
													class="w-1.5 h-[3px] rounded-[10px] object-fill"
												/>
												<img
													src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/3i0dmvh8_expires_30_days.png" 
													class="w-[5px] h-1 rounded-[10px] object-fill"
												/>
											</div>
										</div>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/jnhty6th_expires_30_days.png" 
											class="w-1 h-[5px] mb-6 ml-[145px] rounded-[10px] object-fill"
										/>
										<div class="flex flex-col items-center self-stretch mb-[21px]">
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/9er9gf3t_expires_30_days.png" 
												class="w-[5px] h-1.5 rounded-[10px] object-fill"
											/>
										</div>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/d8uyc0ly_expires_30_days.png" 
											class="w-1 h-[5px] mb-[11px] ml-[70px] rounded-[10px] object-fill"
										/>
										<div class="flex items-center mb-7 ml-[41px]">
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/srbr4rej_expires_30_days.png" 
												class="w-[3px] h-[3px] mr-[75px] rounded-[10px] object-fill"
											/>
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/tc8qzymi_expires_30_days.png" 
												class="w-1 h-1 rounded-[10px] object-fill"
											/>
										</div>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/1t6snn8k_expires_30_days.png" 
											class="w-1 h-[3px] ml-4 rounded-[10px] object-fill"
										/>
									</div>
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/xxn5xbs7_expires_30_days.png" 
										class="w-[3px] h-[3px] rounded-[10px] object-fill"
									/>
								</div>
							</div>
							<span class="text-[#636B7A] text-[10px] w-[5px] mb-[15px] ml-[13px]" >
								0
							</span>
							<div class="flex justify-between items-center self-stretch mb-9 mx-[27px]">
								<span class="text-[#636B7A] text-[10px] w-[29px]" >
									01/05
								</span>
								<span class="text-[#636B7A] text-[10px] w-[30px]" >
									06/05
								</span>
								<span class="text-[#636B7A] text-[10px] w-[27px]" >
									11/05
								</span>
								<span class="text-[#636B7A] text-[10px] w-[29px]" >
									16/05
								</span>
								<span class="text-[#636B7A] text-[10px] w-7" >
									21/05
								</span>
								<span class="text-[#636B7A] text-[10px] w-[30px]" >
									26/05
								</span>
								<span class="text-[#636B7A] text-[10px] w-[29px]" >
									31/05
								</span>
							</div>
						</div>
						<div class="flex flex-1 flex-col items-start bg-[url('https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/1x7y6mro_expires_30_days.png')] bg-[length:100%_100%] pt-[5px] rounded-[10px]">
							<span class="text-[#000B1B] text-xs font-bold mb-2.5 ml-6" >
								Distribuição por estado
							</span>
							<div class="flex items-center self-stretch mb-[33px] ml-6">
								<div class="flex flex-col shrink-0 items-center mr-3 gap-3">
									<div class="bg-[#402664] w-[18px] h-[17px] rounded-[5px]">
									</div>
									<div class="bg-[#5F3995] w-[18px] h-[17px] rounded-[5px]">
									</div>
									<div class="bg-[#D1C3E3] w-[18px] h-[17px] rounded-[5px]">
									</div>
									<div class="bg-[#F0ECF6] w-[18px] h-[17px] rounded-[5px]">
									</div>
								</div>
								<div class="flex flex-col shrink-0 items-start">
									<span class="text-[#636B7A] text-[11px] mb-[18px] mr-[11px]" >
										100+
									</span>
									<span class="text-[#636B7A] text-[11px] mb-[22px]" >
										99 - 50
									</span>
									<span class="text-[#636B7A] text-[11px] mb-[21px] mr-[13px]" >
										49-1
									</span>
									<span class="text-[#636B7A] text-[11px] mr-[30px]" >
										0
									</span>
								</div>
								<div class="flex-1 self-stretch">
								</div>
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/fmcl4mur_expires_30_days.png" 
									class="w-80 h-[307px] rounded-[10px] object-fill"
								/>
							</div>
						</div>
					</div>
					<div class="flex items-center self-stretch mb-10 mx-10 gap-[27px]">
						<div class="flex flex-1 flex-col items-start bg-white pt-[13px] rounded-[10px] border border-solid border-[#B0BACB]">
							<span class="text-[#000B1B] text-xs font-bold mb-4 ml-[22px]" >
								Top Veículos
							</span>
							<div class="flex items-center mb-[27px] ml-[22px]">
								<div class="flex flex-col shrink-0 items-start mr-[17px] gap-5">
									<span class="text-[#494B54] text-xs font-bold mr-[77px]" >
										G1
									</span>
									<span class="text-[#494B54] text-xs font-bold mr-[66px]" >
										UOL
									</span>
									<span class="text-[#494B54] text-xs font-bold" >
										Folha de S.Paulo
									</span>
									<span class="text-[#494B54] text-xs font-bold mr-[46px]" >
										O Globo
									</span>
									<span class="text-[#494B54] text-xs font-bold mr-[76px]" >
										R7
									</span>
								</div>
								<div class="flex flex-col shrink-0 items-start mr-[29px] gap-[9px]">
									<div class="bg-[#00276A] w-[376px] h-[19px]">
									</div>
									<div class="bg-[#04378A] w-[317px] h-[19px] mr-[59px]">
									</div>
									<div class="bg-[#386BC4] w-[261px] h-[19px] mr-[115px]">
									</div>
									<div class="bg-[#6490DE] w-[157px] h-[19px] mr-[219px]">
									</div>
									<div class="bg-[#6794E0] w-[117px] h-[19px] mr-[259px]">
									</div>
								</div>
								<div class="flex flex-col shrink-0 items-center">
									<span class="text-[#67696F] text-xs font-bold mb-5" >
										312
									</span>
									<span class="text-[#67696F] text-xs font-bold mb-[19px]" >
										201
									</span>
									<span class="text-[#67696F] text-xs font-bold mb-5" >
										178
									</span>
									<span class="text-[#67696F] text-xs font-bold mb-[19px]" >
										154
									</span>
									<span class="text-[#67696F] text-xs font-bold" >
										98
									</span>
								</div>
							</div>
						</div>
						<div class="flex flex-1 justify-between items-center bg-white py-[15px] px-4 rounded-lg border border-solid border-[#B0BACB]">
							<div class="flex flex-col shrink-0 items-start pt-1 gap-[23px]">
								<span class="text-[#000B1B] text-xs font-bold mr-[27px]" >
									Noticías por região
								</span>
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/60tenlh4_expires_30_days.png" 
									class="w-[130px] h-[130px] object-fill"
								/>
							</div>
							<div class="flex flex-col shrink-0 items-start py-1 pr-[37px]">
								<div class="flex items-center mb-[19px]">
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/pu2tvfc9_expires_30_days.png" 
										class="w-4 h-4 mr-[15px] object-fill"
									/>
									<span class="text-[#000B1B] text-xs font-bold mr-[68px]" >
										Sudeste
									</span>
									<span class="text-black text-xs font-bold" >
										48,7%
									</span>
								</div>
								<div class="flex items-center mb-[18px]">
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/agh527eu_expires_30_days.png" 
										class="w-4 h-4 mr-4 object-fill"
									/>
									<span class="text-[#000B1B] text-xs font-bold mr-[63px]" >
										Nordeste
									</span>
									<span class="text-black text-xs font-bold" >
										23,1%
									</span>
								</div>
								<div class="flex items-center mb-[18px]">
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/q6u7e98r_expires_30_days.png" 
										class="w-4 h-4 mr-[15px] object-fill"
									/>
									<span class="text-[#000B1B] text-xs font-bold mr-[97px]" >
										Sul
									</span>
									<span class="text-black text-xs font-bold" >
										15,4%
									</span>
								</div>
								<div class="flex items-center mb-[19px]">
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/90tgn9yt_expires_30_days.png" 
										class="w-4 h-4 mr-[15px] object-fill"
									/>
									<span class="text-[#000B1B] text-xs font-bold mr-[38px]" >
										Centro-Oeste
									</span>
									<span class="text-black text-xs font-bold" >
										7,8%
									</span>
								</div>
								<div class="flex items-center">
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/wkx7z2dp_expires_30_days.png" 
										class="w-4 h-4 mr-[15px] object-fill"
									/>
									<span class="text-[#000B1B] text-xs font-bold mr-[83px]" >
										Norte
									</span>
									<span class="text-black text-xs font-bold" >
										5,0%
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="flex flex-col items-start self-stretch bg-white pt-[27px] pr-4 mx-[42px] rounded-lg border border-solid border-[#B0BACB]">
						<span class="text-black text-xs font-bold mb-[55px] ml-4" >
							Últimas noticías
						</span>
						<div class="flex items-start self-stretch py-2 mb-[9px] ml-4">
							<button class="flex shrink-0 items-center bg-white text-left py-3 px-4 mr-[79px] rounded-[10px] border border-solid border-[#B0BACB]"
								onclick="alert('Pressed!')"}>
								<span class="text-[#ADB1BC] text-[13px] mr-[107px]" >
									Buscar notícias, locais, veículos...
								</span>
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/bbkcy7js_expires_30_days.png" 
									class="w-[19px] h-[19px] rounded-[10px] object-fill"
								/>
							</button>
							<button class="flex shrink-0 items-center bg-white text-left py-2.5 px-4 mr-10 gap-3 rounded-[5px] border border-solid border-[#B0BACB]"
								onclick="alert('Pressed!')"}>
								<span class="text-black text-[13px]" >
									Periodo
								</span>
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/otnaz68n_expires_30_days.png" 
									class="w-[7px] h-1 rounded-[5px] object-fill"
								/>
							</button>
							<button class="flex shrink-0 items-center bg-white text-left py-2.5 px-4 mr-[57px] gap-[13px] rounded-[5px] border border-solid border-[#B0BACB]"
								onclick="alert('Pressed!')"}>
								<span class="text-black text-[13px]" >
									Estado
								</span>
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/R1AcbMi3mK/a7vpmu7a_expires_30_days.png" 
									class="w-[7px] h-1 rounded-[5px] object-fill"
								/>
							</button>
							<div class="flex flex-col shrink-0 items-center relative">
								<div class="bg-[#010A1B] w-[101px] h-[30px] rounded-[5px]">
								</div>
								<div class="flex flex-1 flex-col items-start bg-black absolute top-0 bottom-3.5 left-2.5 pr-[18px]">
									<span class="text-[#FAF9F9] text-[13px]" >
										Limpar Filtros
									</span>
								</div>
							</div>
						</div>
						<div class="self-stretch bg-white pb-[1px] ml-4">
							<div class="flex items-center self-stretch py-[11px]">
								<span class="text-[#000B1B] text-xs font-bold ml-4" >
									Título
								</span>
								<div class="flex-1 self-stretch">
								</div>
								<span class="text-[#000B1B] text-xs font-bold" >
									Veículo
								</span>
								<div class="flex-1 self-stretch">
								</div>
								<span class="text-[#000B1B] text-xs font-bold" >
									Data
								</span>
								<div class="flex-1 self-stretch">
								</div>
								<span class="text-[#000B1B] text-xs font-bold" >
									Estado
								</span>
								<div class="flex-1 self-stretch">
								</div>
							</div>
							<div class="flex items-center self-stretch py-2">
								<span class="text-black text-xs font-bold w-[259px] ml-4 mr-6" >
									Mulher é morta a facadas pelo ex-companheiro em sp
								</span>
								<span class="text-black text-xs font-bold" >
									G1
								</span>
								<div class="flex-1 self-stretch">
								</div>
								<span class="text-black text-xs font-bold" >
									00/00/0000
								</span>
								<div class="flex-1 self-stretch">
								</div>
								<span class="text-black text-xs font-bold mr-[195px]" >
									SP
								</span>
							</div>
							<div class="flex items-center self-stretch py-2">
								<span class="text-black text-xs font-bold w-[259px] ml-4 mr-6" >
									Mulher é morta a facadas pelo ex-companheiro em sp
								</span>
								<span class="text-black text-xs font-bold" >
									G1
								</span>
								<div class="flex-1 self-stretch">
								</div>
								<span class="text-black text-xs font-bold" >
									00/00/0000
								</span>
								<div class="flex-1 self-stretch">
								</div>
								<span class="text-black text-xs font-bold mr-[195px]" >
									SP
								</span>
							</div>
							<div class="flex items-center self-stretch py-2">
								<span class="text-black text-xs font-bold w-[259px] ml-4 mr-6" >
									Mulher é morta a facadas pelo ex-companheiro em sp
								</span>
								<span class="text-black text-xs font-bold" >
									G1
								</span>
								<div class="flex-1 self-stretch">
								</div>
								<span class="text-black text-xs font-bold" >
									00/00/0000
								</span>
								<div class="flex-1 self-stretch">
								</div>
								<span class="text-black text-xs font-bold mr-[195px]" >
									SP
								</span>
							</div>
							<div class="flex items-center self-stretch py-2">
								<span class="text-black text-xs font-bold w-[259px] ml-4 mr-6" >
									Mulher é morta a facadas pelo ex-companheiro em sp
								</span>
								<span class="text-black text-xs font-bold" >
									G1
								</span>
								<div class="flex-1 self-stretch">
								</div>
								<span class="text-black text-xs font-bold" >
									00/00/0000
								</span>
								<div class="flex-1 self-stretch">
								</div>
								<span class="text-black text-xs font-bold mr-[195px]" >
									SP
								</span>
							</div>
							<div class="flex items-center self-stretch py-2">
								<span class="text-black text-xs font-bold w-[259px] ml-4 mr-6" >
									Mulher é morta a facadas pelo ex-companheiro em sp
								</span>
								<span class="text-black text-xs font-bold" >
									G1
								</span>
								<div class="flex-1 self-stretch">
								</div>
								<span class="text-black text-xs font-bold" >
									00/00/0000
								</span>
								<div class="flex-1 self-stretch">
								</div>
								<span class="text-black text-xs font-bold mr-[195px]" >
									SP
								</span>
							</div>
							<div class="flex items-center self-stretch py-2">
								<span class="text-black text-xs font-bold w-[259px] ml-4 mr-6" >
									Mulher é morta a facadas pelo ex-companheiro em sp
								</span>
								<span class="text-black text-xs font-bold" >
									G1
								</span>
								<div class="flex-1 self-stretch">
								</div>
								<span class="text-black text-xs font-bold" >
									00/00/0000
								</span>
								<div class="flex-1 self-stretch">
								</div>
								<span class="text-black text-xs font-bold mr-[195px]" >
									SP
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

